*{
	padding: 0px;
	margin: 0px;
}

#con{
	position: relative;
}

#fraccion1{
	float: left;
	width: 20%;
	margin-left;	
	}	
#fraccion2{
	float: right;
	margin-right: 60%;
	width: 20%;
}
#fraccion3{
	float: none;
	margin-left: 40%;
	width: 20%;	
	margin-bottom: 60px;
}
#signox{
	margin-top: -67px;
	margin-left: 100%;
}
#signoi{
margin-left: 180px;


}
#boton3{
	float: left;
	margin-left: 20%;
	margin-bottom: 20px;
}