html {
  min-height: 100%;
  position: relative;
}

* {
padding:0;
margin:0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
 
 /*
-----------------------------------------
               GENERAL
-----------------------------------------
*/
body {
    background-image: url(../img/fondo.gif);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 80px;
    margin: 0;
}
 #container{
    width: 60%;
 }
.menu_bar {
display:none;
}


#main1{
    position: relative;
    margin-left: 60%;

    }
 
 #button-container{
    margin-top: 50%;
 }
 #lema{
    margin-top:  20px;
    font-family: 'Pinyon Script', cursive;
    font-size:2vw;
    color: #000;
    opacity: 0.5;
 }
 #titulo{
  font-family: 'Gravitas One', cursive;
    color: #fff;
    font-size: 3vw;
    color: #000;
    opacity: 0.5;
 }
 #boton{
    width: 13vw;
    height: 3.5vw;
    display:inline-block;
    position: relative;
    font-size: 1.2vw;
    letter-spacing: 0.1em;
    color:#fff;
    text-rendering:optimizeLegibility;
    border:0.2em solid #fff;
    padding:0.4em 0.6em;
-webkit-transition: color 800ms, background 800ms, border-color 700ms;
transition: color 800ms, background 800ms, border-color 700ms;

 }
 
 #boton:hover
            {
                background:#4aaca6;
                border-color:#fff;
                color:#545e7a;
            }

            /*
-----------------------------------------
          QUIENES SOMOS
-----------------------------------------
*/
span{
  color: #4aaca6;
  text-transform:uppercase;
}
#cuadroq{
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-left: 30%;
  margin-top: 10%;
  border: solid 5px #4aaca6;
  border-radius: 50px 50px;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 5px 2px #999;
  -moz-box-shadow: 2px 2px 5px #999;
   -o-box-shadow: 2px 2px 5px #999;
}
#info{
  margin: 2%;
}
#mision{
font-size:2.5vw;
padding-left: 2%;
}
#vision{
  font-size:2.5vw;
  padding-left: 2%;
}
#grupodetrabajo{
  font-size:2.5vw;
  padding-left: 2%;
}
#info p{
font-size:1.5vw;
text-align:justify;
padding: 3%;
}
#grupo{
  width: 100%;
  height: auto;

}
#andrea{
  float: left;
  width: 30%;
  height:2%;
  margin-left: 10%;
}
#andreaf{
  width: 90%;
}
#angelica{
  width: 30%;
  height:2%;
  margin-left: 60%;
  margin-top: 3%;
}
#angelicaf{
  width: 90%;
}
#leonardo{
  width: 30%;
  height:2%;
  margin-top: 3%;
  margin-left: 10%;

}
#leonardof{
  width: 90%;
}
#duarte{
  width: 30%;
  height:2%;
  margin-left: 60%;
  margin-top: -35%;

}
#duartef{
  width: 90%;
}
#gianluca{
  width: 30%;
  height:2%;
margin-left: 36%;
margin-top: 3%;

}
#gianlucaf{
  width: 90%;
}


/*
-----------------------------------------
               FOOTER
-----------------------------------------
*/
footer {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: #000;
  opacity: 0.2;
}
#subfooter{
    text-align: center;
    padding-top: 3px;
}


/*
-----------------------------------------
            MENU HAMBURGUESA
-----------------------------------------
*/
@media screen and (max-width: 5000px) {
body {
padding-top:86.5px;
}
 #logo1{
    width: 8vw;
    float: left;

 }
 #logo2{
    width: 1.8vw;
    float: right;
    margin-right: 7%;
    margin-top: 2.1%;

 }


  #rayas{
    width: 2vw;
    float: right;
 }
 
.menu_bar {
display:block;
width:100%;
position: fixed;
top:0;
}
 
.menu_bar .bt-menu {
display: block;
padding: 20px;
overflow: hidden;
font-weight: bold;
text-decoration: none;
margin-left: 95%;
margin-top: 1%;
}
.bt-menu{
width: 3%;
height: 55px;
}
 .menu_bar .bt-menu:hover {

cursor: pointer;
}

 header{
    width: 100%;
 }

 
header nav ul {
list-style:none;
}
 
 
header nav ul li:hover {
background:#4aaca6;
}

header nav {
width: 30vw;
height: 23vw;
position:fixed;
right:-100%;
margin: 0;
background:#000;
z-index:1000;
opacity: 0.5;
}
 
header nav ul li {
display: block;
border-bottom:1px solid rgba(255,255,255,.5);
display:inline-block;
position: relative;
margin-left: 15vw;

}
 
header nav ul li a {
display: block;
color:#fff;
display:block;
font-size:1.5vw;
text-decoration:none;
padding-right: 50vw;
padding-top: 2vw;

}


/*
-----------------------------------------
               CONTACTO
-----------------------------------------
*/

#cuadrocon{
 width: 80%;
  height: auto;
  background-color: #fff;
  margin-left: 40%;
  margin-top: 10%;
  border: solid 5px #4aaca6;
  border-radius: 50px 50px;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 5px 2px #999;
  -moz-box-shadow: 2px 2px 5px 2px #999;
   -o-box-shadow: 2px 2px 5px 2px #999;
}
#con{
  font-size:2.5vw;
padding-left: 2%;
padding-bottom: 2%;
margin-bottom: 2%;
}
#formulario{
  padding: 20px;
}
 
fieldset{
    border-radius: 20px 20px;
width: 100%;
}
legend{
  margin-left: 10%;
  font-style: italic;
      font-size:1.5vw;

}
label{
    font-size:1.2vw;
    padding-right: 2%;
}
#i{
  border-radius: 20px 20px;
height: 2.5vw;
width: 65%;
margin-left: 5%;
}
#im{
  border-radius: 5px 5px;
height: 7vw;
width: 65%;
margin-left: 20%;
}
#botoncon{
  font-size: 1vw;
  border-radius: 10px 10px;
padding: 2%;
background-color:  #4aaca6;
border: solid 3px #4aaca6;
color: #fff;
cursor: pointer;

}
#botoncon:hover{
padding: 2%;
border-radius: 10px 10px;
background-color:  #4aaca6;
color: #000;
 -webkit-box-shadow: 1px 1px 4px 1px #999;
  -moz-box-shadow: 1px 1px 4px 1px #999;
   -o-box-shadow: 1px 1px 4px 1px #999;
}
#botoncon:focus{
padding: 2%;
background-color:  #fff;
color: #000;
}
#respuesta{
  margin-left: 20px;
  color: #000;
  text-align: center;
}
#respuesta span{
  text-transform: uppercase;
}
::placeholder{
 color: #4aaca6; 
 font-style: italic;
 text-align: center;
 font-size: 0.8vw;
}
/*
--------------------------------
            Cargando
--------------------------------
*/
#loadf{
  width: 10%;
  margin-top: 20%;
}
#loadpage{
  display: block;
      background-color: #fff;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
}
#imgorientacion{
  width: 100%;
  margin-top: 50%;
}
#orientacion{
    display: block;
      background: rgba(0,0,0,0.6);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
}
#bienvenidos{
  display: block;
      background-color: #fff;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;

}
#wel{
  margin-top: 20%;
}

/*
--------------------------------
            Login
--------------------------------
*/

#cuadroinicias{
  float: left;
   width: 60%;
  height: auto;
  background-color: #fff;
  margin-left: 20%;
  margin-top: 5%;
  border: solid 5px #4aaca6;
  border-radius: 50px 50px;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 5px 2px #999;
  -moz-box-shadow: 2px 2px 5px 2px #999;
   -o-box-shadow: 2px 2px 5px 2px #999;
}
#datos{
  float: left;
  width: 50%;
}
#publi{
  float: right;
  width: 50%;
}
#botonregi{
  margin-top: 5%;
font-size: 1vw;
padding: 2%;
border-radius: 10px 10px;
background-color:  #4aaca6;
border: solid 3px #4aaca6;
color: #fff;
cursor: pointer;

}
#botonregi:hover{
padding: 2%;
border-radius: 10px 10px;
background-color:  #4aaca6;
color: #000;
 -webkit-box-shadow: 1px 1px 3px 1px #999;
  -moz-box-shadow: 1px 1px 4px 1px #999;
   -o-box-shadow: 1px 1px 4px 1px #999;
}
#l{
  margin-top: 10%;
  width: 70%;
  color:#4aaca6;
  border: 2px solid #4aaca6;
  border-radius: 300px/10px;}
  #t{
    margin-top: 5%;
    font-size: 1.3vw;
  }
  #h{
    margin-top: 5%;
    font-size: 1vw;
  }
/*
--------------------------------
            Registro
--------------------------------
*/
#cuadroregis{
   width: 20%;
  height: auto;
  background-color: #fff;
  margin-left: 40%;
  margin-top: 5%;
  border: solid 5px #4aaca6;
  border-radius: 50px 50px;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 5px 2px #999;
  -moz-box-shadow: 2px 2px 5px 2px #999;
   -o-box-shadow: 2px 2px 5px 2px #999;
}
#is{
  width: 35%;
  margin-left: 2%;
    border-radius: 20px 20px;
height: 1.5vw;
}

#reg{
   font-size:2vw;
padding-left: 2%;
padding-bottom: 2%;
margin-bottom: 2%;
}
#label{
  font-size:1vw;

 