* {
padding:0;
margin:0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
body {
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
header{
	width: 100%;
	float: left;
	height: auto;
	background-color: #4aaca6;
	top: 0;
}
header ul{
	width: 50%;
	float: right;
	list-style: none;

}
header ul li{
	float: right;
	color: #fff;
	text-align: right;
	padding: 10px;
}
header ul li:hover{
	cursor: pointer;
}
/*
	--------imguser/infouser--------
*/
#imguser{
width: 50px;
}
.imguser{
	width: 100%;
}
#imguser1{
	display: none;
width: 50px;
}
.imguser1{
	width: 100%;
}
.infouser{
	margin-top: 3%;
	background-color: #4aaca6;
	right:-100%;
	width: 30%;	
	height: 100%;
	z-index:1000;
	position: fixed;

}
.infoimguser{
	width: 40%;
}
/*
	--------infocourse--------
*/
.infocourse{
	width: 10%;
	background-color: #4aaca6;
	position: fixed;
	z-index: 1000;
	height: 100%;
	padding-top: 10%;
}
.btn{
	width: 100%;
	margin-top: 20%;
	border: none;
	padding: 10%;
	background-color: #e0e0e0;
	transition: 0.5s all;
}
.btn:hover{
	color: #fff;
	background-color: #4aaca6;
	cursor: pointer;
}
.cuadrogestion{
	background-color: #4aaca6;
	padding: 5%;
	width: 60%;
	margin-left: 22%;
	position: absolute;
	margin-top: 7%;
}
form{
	padding: 1%;
	border: solid 1px black;
}
form span #buscar{
	width: 35%;
	margin-left: 40%;
}
table{
	border: solid black 1px;
	width: 100%;
	padding: 1%;
	font-size: 120%;
}
 input[type=text]{
 	width: 90%;
 	height: 30px;
}
input[type=email]{
 	width: 90%;
 	height: 30px;
}
input[type=number]{
 	width: 90%;
 	height: 30px;
}
 input[type=submit]{
 	width: 20%;
 	height: 30px;
 	border: none;
	background-color: #e0e0e0;
	transition: 0.5s all;
}
 input[type=submit]:hover{
 cursor: pointer;
 color: #fff;
}

