
#portfolio{
}
#enca{
	width: 94%;
	background-color: #4aaca6;
	-webkit-box-shadow: 2px 2px 5px 2px #999;
  -moz-box-shadow: 2px 2px 5px #999;
   -o-box-shadow: 2px 2px 5px #999;
}
#titulo{
color: #fff;
padding: 10px;
 text-shadow: 2px 2px 6px #000;
}
