body{
	background-color: #fff;
}
header{
	width: 100%;
	background-color: #000;
	-webkit-box-shadow: 2px 2px 5px 2px #999;
  -moz-box-shadow: 2px 2px 5px #999;
   -o-box-shadow: 2px 2px 5px #999;

}
nav{
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
}
nav li{
	list-style: none;
	display: inline-block;
	padding-right: 6px;
	margin-top: 1%;
}
nav li a{
	font-size:130%;
	color: #fff;
	padding: 5px;
	border-radius: 2px;
}
nav li a:hover{
	text-decoration:none;
	background-color: #5bc0de;
	color: #fff;
}
nav li a:active{
	text-decoration:none;
	background-color: #ff00ff;
	color: #fff;
}
nav li a:checked{
	text-decoration:none;
	background-color: #99ff33;
	color: #fff;
}
.activo {
    text-decoration:none;
	background-color: #0099cc;
	color: #fff;
	border-radius: 2px;


}
#container{
	background-color: #fff;
	width: 80%;
	margin-left: 10%;
	border: 1px solid #dc3545;
}
#titulo{
	padding: 1%;
	color: #fff;
	font-size:250%;
}
#solicitud{
	color: #dc3545;
}
footer{
	margin-top: 10%;
	 background-color:#000;
	 bottom: 0;	
    width: 100%;
    color: #fff;
    float: left;
}
#subfooter{
	width: 100%;
	float: left;
	height: 30%;
}
#contac{
    width: 40%;
    float: left;
    height: 70%;
    margin-top: 2%;
    margin-left: 5%;
    padding-left: 1%;
}
#contac h2{
	font-size: 3vw;
}
#contac p{
	font-size: 1.4vw;
}
#redes{
	float: left;
	width: 40%;
	height: 70%;
	padding: 1%;
	margin-left: 10%;
	margin-top: 2%;
}
.imgr{
	width: 90%;
}
#facebook{
	float: left;
	width: 25%;
	opacity: 0.6;
}
#instagram{
	float: left;
	width: 25%;
	opacity: 0.6;
	margin-left: 12%;

}
#gmail{
	float:left;
	width: 25%;
	opacity: 0.6;
	margin-left: 12%;

}
#facebook:hover{
	opacity: 1;

}
#instagram:hover{

	opacity: 1;
}
#gmail:hover{
	opacity: 1;
}
#derecho{
	width: 100%;
	float: left;
	padding-bottom: 20px;
	font-size:1.5vw;

}
