*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #000;
}
 #container{
    width: 20%;
    height: auto;
    background-color: #fff;
    margin-top: 20%;

 }
 .botones {
	margin: 5px;
		 
}
.botones li{
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	justify-content: center;
	line-height: 150%;
	font-size: 1.5vw;

}
.botones li:hover{
	background-color: #4aaca6;
	border-radius: 10%;
	cursor: pointer;
	color: #fff;

}
.activo{
	background-color: #4aaca6;
	border-radius: 10%;
	color: #fff;

}